:root {
  --main-color: rgba(22, 15, 27, 0.8);
  --white-text: whitesmoke;
  --black-text: black;
  --gray: #eceff6;
  --gold: #ffd700;
  --spacing: 2px;
  --article-background: rgba(255, 255, 255, 0.5);
  --height: 40px;
  --font-size: 18px;
}

main section {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  width: 100%;
  height: auto;
  margin-top: 20px;
}

main article {
  background-color: var(--article-background);
  grid-column: 2;
  letter-spacing: var(--spacing);
  padding: 20px;
  margin-top: 30px;
  text-align: center;
  line-height: var(--height);
  opacity: 0.8;
}

main article h3 {
  font-size: 25px;
  font-style: italic;
}

main article p {
  font-size: var(--font-size);
  text-align: justify;
}

footer {
  position: absolute;
}
