:root {
  --main-color: rgba(22, 15, 27, 0.8);
  --white-text: whitesmoke;
  --black-text: black;
  --gray: #eceff6;
  --gold: #ffd700;
  --spacing: 2px;
  --article-background: rgba(255, 255, 255, 0.5);
}

main {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
}

main article {
  background-color: var(--article-background);
  grid-column: 2;
  letter-spacing: var(--spacing);
  padding: 20px;
  margin-top: 50px;
  text-align: center;
  line-height: 40px;
}

main article h3 {
  font-size: 25px;
  font-style: italic;
}

main article p {
  font-size: 20px;
  text-align: justify;
}
